<style>
  .arrendado{
    background-color: #74803a;
  }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">System Book</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a >Stock Libros</a></li>
        <li><a href="/arriendos">Arriendo Libros <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Libros</h1>
      <a class="btn btn-primary" href="/libros/new">New Book</a>
      <h3 class="sub-header">Libros Disponibles</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Estado</th>
              <th>Editorial</th>
              <th>Autor</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          <% @libros.each do |libro| %>
          <tr>
          <td><%= libro.id %></td>
            <td><%= libro.nombre %></td>
            <td><%= libro.categoria %></td>
            <td><%= libro.estado %></td>
            <td><%= libro.editorial %></td>
            <td><%= libro.autor %></td>
            <td>
            <%= link_to 'Arrendar',  { action: :arrendar, id: libro.id }, method: :get, class: (libro.estado == 'Arrendado' ? 'hidden' : '' && 'btn btn-success' )%>
              <%= link_to 'Editar',  { action: :edit, id: libro.id }, method: :get, class: 'btn btn-primary'%>
              <%= link_to 'Eliminar',  { action: :destroy, id: libro.id }, method: :delete, data: { confirm: 'Are you sure?' } , class: (libro.estado == 'Arrendado' ? 'hidden' : '' && 'btn btn-danger' )%>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>